# Python Bytecode
*.pyc
*.pyo
*.pyd
__pycache__/

# Virtual Environments
venv/
ENV/
env/
.venv/
.env/

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo

# Dependency directories
pip-log.txt
pip-delete-this-directory.txt
Pipfile.lock

# Distribution / Packaging
*.egg
*.egg-info
dist/
build/
*.egg-info/
*.whl

# Test and Coverage
nosetests.xml
coverage.xml
*.cover
*.py,cover
.cache
.coverage
*.orig

# Jupyter Notebook
.ipynb_checkpoints/

# Logs
*.log

# MacOS specific
.DS_Store

# Windows specific
Thumbs.db
Desktop.ini

# Miscellaneous
*.bak
*.tmp
*.swp
*.swo

# Local environment files
*.env
